# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
.venv/
env/
venv/

# Ignore environment variables file
.env

# Ignore logs
*.log

# Ignore other OS-specific files
.DS_Store
Thumbs.db